.navbar {
  background: #a3a375 !important; }

  .nav-brand-img {
    height: 50px !important; }

    .navbar-toggler-icon {
      color: black !important; }

      .jumbotron {
        margin-top: 6rem !important; }
