.navbar {
    background:rgb(163, 163, 117)!important;
}

.nav-brand-img{
    height: 50px!important;
}

.navbar-toggler-icon {
    color: black!important;
}

.jumbotron{
    margin-top:6rem!important;
}

.vGood {
    background: #0f0!important;
}

.good {
    background-color: #0c0;
}

.avg {
    background-color: #060;
}

.poor {
    background-color: #c00;
}

.vPoor {
    background-color: #f00;
}