{% extends "base.html" %}
{% block title %}Bush League Sports{% endblock %}
{% block body %}
<div class="jumbotron" style="margin-top:6.5rem;">
  <h1>Bush League Sports</h1>
  <p>Home for amatuer data, daily fantasy sports information, betting odds, and more.</p>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="w-75 mx-auto">
      <h1>Upcoming</h1>
    </div>
  </div>
  <div class="col-lg-4">
    <a class="twitter-timeline" data-width="350" data-height="1000" data-theme="light" href="https://twitter.com/BushLeagueSprts?ref_src=twsrc%5Etfw">Tweets by BushLeagueSprts</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </div>
</div>
{% endblock %}